head
  title= talk_title
  meta(name="twitter:site"     content=talk_title)
  meta(property="og:title"     content=talk_title)
  meta(property="og:site_name" content=talk_title)

  meta(name="description"         content=talk_description)
  meta(name="twitter:description" content=talk_description)
  meta(property="og:description"  content=talk_description)

  meta(name="author"          content=talk_author_name)
  meta(name="twitter:creator" content=talk_author_twitter)

  meta(property="og:url" content=talk_url)

  meta(name="twitter:card"  content="summary_large_image")
  meta(name="twitter:image" content=`${talk_url}img/opengraph.png`)
  meta(property="og:image"  content=`${talk_url}img/opengraph.png`)

  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel='stylesheet', type='text/css', href='./main.css')
  link(rel='shortcut icon', href='./favicon.ico')
