mixin flag(code, name, additional_classes)
  +flag_wrapper(name, additional_classes)
    .c-flag.shadow-3(class=`c-flag__${code}`)

mixin flag_wrapper(name, additional_classes)
  - additional_classes = additional_classes || ''
  .fla.flcnw.br1.oh.shadow-4.bg-light-gray.ma1(class=`${additional_classes}`)
    .fla.flc.pa1
      block
    .fln.pa1.bg-white.dark-gray.b.f7.h1.flc.w-100
      = name

mixin flag_fake(path, name, additional_classes)
  +flag_wrapper(name, additional_classes)
    img.shadow-3.w3(src=path, alt=`Flag of ${name}`)
    
mixin custom_font(symbol)
  .fln.tc.w1.mr1.mb1.white!=symbol
  
